In [2]:
import pandas as pd
data = pd.read_csv("weather_data.csv")
print(data["temp"])

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [4]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [5]:
print(type(data["temp"]))

<class 'pandas.core.series.Series'>

In [7]:
data_dict=data.to_dict()
print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

In [9]:
temp_list=data["temp"].to_list()
print(len(temp_list))

7

In [11]:
avg = sum(temp_list)/len(temp_list)
print(avg)

17.428571428571427

In [12]:
print(data["temp"].mean())

17.428571428571427

In [13]:
print(data["temp"].max())

24

In [14]:
print(data['condition'])

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [15]:
data.condition

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [17]:
data.head(2)

       day  temp condition
0   Monday    12     Sunny
1  Tuesday    14      Rain

In [18]:
print(data[data.day == 'Monday'])

      day  temp condition
0  Monday    12     Sunny

In [22]:
print(data[data.temp==data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny